@import url('https://fonts.googleapis.com/css2?family=Anta&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
#gallery *{
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    margin: auto;
    text-align: center;
}
header {
    background-color: #292929;
    display: block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
}
header a {
    display: block;
    height: auto;
    align-self: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8em;
    transition: .5s;
    font-family: 'Anta', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1em;
    min-width: 80px;
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
}
header a:hover {
    color: #0ef;
    padding-bottom: 10px;
    border-bottom: 2px solid #0ef;
    border-radius: 15px;
    transform: scale(1) translateY(-5px);
    transition: .5s;
}
main{
    text-align: center;
    margin: 0;
}
.gallery-title{
    font-family: 'Anta', Courier, monospace;
    font-weight: bold;
    font-size: 3em;
    color: #292929;
}
#see-more, .cover_img, .home-title, .sub-title{
    display: none;
}
.logo{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 156px;
    height: 35px;
}
#gallery{
    padding-top: 50px;
    padding-bottom: 50px;
}
.horizontal_img{
    width: 210px;
    height: 140px;
    object-fit: cover;
    box-shadow: 5px 5px 10px #6f7364;
    border: 10px solid white;
}
.vertical_img{
    width: 210px;
    height: 315px;
    object-fit: cover;
    box-shadow: 5px 5px 10px #6f7364;
    border: 10px solid white;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#column1{
    grid-column: 2/3;
    grid-row: 1/2;
}
#column2{
    grid-column: 2/3;
    grid-row: 2/3;
}
#column3{
    grid-column: 2/3;
    grid-row: 3/4;
}
#column4{
    grid-column: 2/3;
    grid-row: 4/5;
}
footer {
    background-color: #292929;
    display: block;
    height: auto;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

footer p{
    font-size: 1em;
    font-family: 'Anta', Courier, monospace;
    font-weight: bold;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #0ef;
    text-decoration: none;
}
.viewer{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    margin: auto;
    z-index: 3;
}
.close-viewer{
    background-color: white;
    color: black;
    border: none;
    width: 30px;
    height: 30px;
    align-self: center;
    justify-self: right;
    margin-right: 5px;
}
.big-img{
    width: 85%;
    margin: auto;
    margin-top: -10px;
}
.searchbar{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.searchbar input{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    border-radius: 5px;
}
.searchbar button{
    height: 41.5px;
}
.searchbar button img{
    float: left;
    width: 30px;
    height: 30px;
    padding: 3px;
    color: white;
    font-size: 17px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

@media screen and (min-width: 900px){

    body div{
        text-align: center;
        margin: 0;
    }
    header{
        max-width: 1600px;
        width: 100%;
        background-color: transparent;
        display: grid;
        font-size: 1.2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 50px;
    }
    header a{
        color: white;
        font-size: 1em;
        min-width: 80px;
        text-decoration: none;
        transition: .5s;
        font-family: 'Anta', Courier, monospace;
        font-weight: bold;
        max-width: 180px;
        width: 100%;
        align-self: center;
        margin: 0 auto;
        z-index: 2;
    }
    .logo{
        height: 45px;
        width: 200px;
        margin: 0 auto;
        align-self: center;
        z-index: 2;
        padding: 20px;
    }
    .cover_img{
        width: 100%;
        margin-top: -150px;
    }
    .cover_img, .home-title, .sub-title{
        display: block;
    }
    #see-more{
        display: inline-block;
    }
    .top-section{
        margin: 50px;
        position: absolute;
        top: 80px;
        left: 0%;
        right: 0%;
    }
    .home-title{
        font-size: 3em;
        color: white;
    }
    .top-section p{
        font-family:'Anta', Courier, monospace;
        font-size: 1.8em;
        color: white;
        margin-top: -20px;
        padding-bottom: 20px;
        font-weight: bold;
        
    }
    #see-more{
        background-color: white;
        color: #292929;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 10px;
        font-family: 'Anta', Courier, monospace;
        transform: scale(1) translateY(-5px);
        transition: .5s;
        font-weight: bold;
    }
    #see-more:hover{
        background-color: #0ef;
        color: white;
    }
    h1{
        font-family: 'Anta', Courier, monospace;
        font-weight: bold;
        font-size: 3em;
        color: #292929;
    }
    .sub-title{
        padding-top: 20px;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #column1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #column2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #column3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #column4{
        grid-column: 3/4;
        grid-row: 2/3;
    }
}


@media screen and (min-width: 1200px) {

    header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #column1{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #column2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    #column3{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    #column4{
        grid-column: 5/6;
        grid-row: 1/2;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 30px;
    }
    .social{
        margin: 0;
        padding: 0;
        align-self: center;
    }
    .social a{
        padding-left: 3px;
        padding-right: 3px;
    }
    .viewer{
        max-width: 1000px;
        width: 90%;
        height: 90%;
        padding: 20px;
    }
    .big-img{
        width: 50%;
        margin: auto;
        margin-top: -10px;
    }
}